.heading-1 {
    font-size: clamp(1.8rem, (.5rem + 5vw), 2.5rem);
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.heading-3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.paragraph-1 {
    font-size: clamp(1.4rem, (.5rem + 5vw), 1.6rem);
    margin-bottom: 2rem;
}

.paragraph-2 {
    color: $color-neutral-3;
}

.btn {
    display: inline-block;
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 3rem;
    background-color: $color-primary;
    font-weight: 800;
    color: $color-white;
    cursor: pointer;
    box-shadow: .2rem .2rem .3rem .1rem rgba($color-primary, .3);

    &:hover,
    &:active {
        filter: opacity(.7)
    }
}

@media only screen and (max-width:$bp-medium) {
    .heading-1 {
        font-size: clamp(1.3rem, (.3rem + 3vw), 2rem);
    }

    .heading-3 {
        font-size: 1.8rem;
    }

    .paragraph-1 {
        font-size: clamp(1.2rem, (.2rem + 2vw), 1.4rem);
    }

    .btn {
        padding: 1rem 3rem;
        font-weight: 600;
    }
}

@media only screen and (max-width:$bp-phone) {
    .heading-1 {
        font-size: clamp(1.2rem, (.3rem + 6vw), 1.6rem);
    }

    .heading-3 {
        font-size: 1.8rem;
    }

    .paragraph-1 {
        font-size: clamp(1.3rem, (.2rem + 2vw), 1.6rem);
    }

    .btn {
        padding: 1.5rem 2rem;
        font-size: 1.4rem;
    }
}